:root {
    --border-color: #202020;
    --accent-color: #1A1A1A;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    box-sizing: border-box;
    grid-template-areas:
        "sidebar-header tab-bar"
        "sidebar-body editor-area"
        "footer footer";
    grid-template-rows: 35px 1fr 20px;
    grid-template-columns: 275px 1fr;
    background-color: #141414;
    color: #505050;
    font-family: sans-serif;
}

.sidebar-header {
    grid-area: sidebar-header;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #828282;
    border-top: 1px solid var(--border-color);
    cursor: pointer;
}

.sidebar-header .selected,
.sidebar-header >*:hover {
    color: #E9E9E9;
}

.tab-bar {
    grid-area: tab-bar;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    min-width: 125px;
    height: 100%;
    font-size: 14px;
    border: 1px solid var(--border-color);
    border-bottom: none;
    gap: 5px;
    cursor: pointer;

    overflow: hidden;
    white-space: nowrap;
}

.tab .tab-file-name {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab .icon,
.tab .codicon-close {
    flex: 0 0 auto;
}

.tab .codicon-close {
    visibility: hidden;
    cursor: pointer;
}

.tab:hover .codicon-close {
    visibility: visible;
}

.tab .codicon-close:hover {
    background-color: #2E2F2F;
}

.tab.selected {
    color: white;
    background-color: var(--accent-color);
}

.tab.selected .codicon-close {
    visibility: visible;
    color: white;
}

.sidebar-body {
    grid-area: sidebar-body;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-body-header {
    font-size: 11px;
    font-weight: 600;
}

.sidebar-body-files {
    display: flex;
    flex-direction: column;
}

.sidebar-file {
    display: flex;
    width: 100%;
    height: 20px;
    padding-left: 12px;
    font-size: 13px;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.sidebar-file:hover {
    background-color: #212121;
    color: white;
}

.sidebar-file.selected {
    background-color: #2E2E2E;
    color: white;
}

.editor-area {
    grid-area: editor-area;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border: 1px solid var(--border-color);
    border-top: none;
    color: #D7DDE8;
    overflow: hidden;
}

.footer {
    grid-area: footer;
    border-top: 1px solid var(--border-color);
}

.icon {
    width: 16px;
    height: 16px;
}