body {
    margin: 0;
    height: 100vh;
    display: grid;
    box-sizing: border-box;
    grid-template-areas:
        "sidebar-header tab-bar"
        "sidebar-body editor-area"
        "footer footer";
    grid-template-rows: 35px 1fr 25px;
    grid-template-columns: 275px 1fr;
    background-color: #141414;
}


.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #828282;
}

.sidebar-body-header {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #505050
}